.redHeader{
    color: red;
    }
    
    
    .underlineDecor{
    text-decoration: underline green;
    }
    
    
    .cyanBack{
    background-color: cyan;
    }
    
    
    .yellowBack{
    background-color: yellow;
    }
    